<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Tourisme</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/sites/Index}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/sites/Index}">Sites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/region/index}">Region</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/FormRegion}">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<div class="card">
<div class="card-header"> Formulaire d'ajout de région</div>
<div class="card-body">
<form th:action="@{sauverRegion}" method="post" th:object=${region}>
  <label>Nom de region</label>
  <input  class="form-control" th:field=*{nom}/>
  <span class="text-danger" th:errors="*{nom}"></span>
   <label>Superficie</label>
  <input  class="form-control" th:field=*{superficie}/>
 <span class="text-danger" th:errors="*{superficie}"></span>
   <label>Population</label>
  <input  class="form-control" th:field=*{population}/>
  <span class="text-danger" th:errors="*{population}"></span>
   <label>Langue</label>
  <input  class="form-control" th:field=*{langue}/>
 <span class="text-danger" th:errors="*{langue}"></span>
   <label>Devise</label>
  <input  class="form-control" th:field=*{devise}/>
  <span class="text-danger" th:errors="*{devise}"></span>
  <input class="btn btn-primary" type="submit" value="Sauver">
</form>
</div>
</div>
</div>


</body>
</html>